[Desktop Entry]
Version=1.0
Type=Application
Name=Hunter System Monitor
Comment=Monitor system resources and processes
Exec=plasma-systemmonitor
Icon=utilities-system-monitor
Terminal=false
Categories=System;Monitor;KDE;
Keywords=system;process;task;manager;cpu;memory;performance;
StartupNotify=true
